---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getAllPostSorted } from "../../helpers/helper.ts";
import BlogList from "../../components/BlogList.astro";

const pageTitle = "Read Something New";
const pageDesc =
  "A growing collection of practical, readable articles on habits, wellness, personal growth, travel, tech, and simple living. Updated daily.";
const allPosts = await getAllPostSorted();
---

<BaseLayout title={pageTitle} description={pageDesc}>
  <p>
    {pageDesc}
  </p>
  <BlogList posts={allPosts} />
</BaseLayout>

<style>
  p {
    width: 960px;
    max-width: calc(100% - 2rem);
    margin: auto;
    margin-bottom: 16px;
  }
</style>
