---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getAllPostSorted } from "../../helpers/helper";
import BlogList from "../../components/BlogList.astro";

export async function getStaticPaths() {
  const allPosts = await getAllPostSorted();

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title={tag} description="">
  <h3>{tag}</h3>
  <p>Posts tagged with {tag}</p>

  <BlogList posts={posts} />
</BaseLayout>
<style>
  h3,
  p {
    padding: 0;
    width: 960px;
    max-width: calc(100% - 2rem);
    margin: auto;
    margin-bottom: 16px;
  }
</style>
